In [1]:
print(1)

1

In [2]:
print("20 days are xxx minutes")

20 days are xxx minutes

In [2]:
value1 = 20*24*60
print(f"20 days are {value1} minutes")

20 days are 28800 minutes

In [5]:
print(str(value1))
type(value1)

28800

int

In [11]:
calculationToUnits = 24
nameOfUnit = "hours"

def days_to_units(val):
    print(f"{val} days are {val * calculationToUnits} {nameOfUnit} ")

days_to_units(15)

15 days are 360 hours

In [30]:
elevation = 2211

def mountains(val1):
    mtn_var = "Hibriten"
    if val1 >2211:
        print("False")
    else:
        print("True")
    

mountains(1800)

True

In [31]:
userInput = int(input("How tall is Hibriten Mountain"))
mtnHeight = mountains(userInput)

False