In [1]:
print(1)

1

In [2]:
print("20 days are xxx minutes")

20 days are xxx minutes

In [2]:
value1 = 20*24*60
print(f"20 days are {value1} minutes")

20 days are 28800 minutes

In [5]:
print(str(value1))
type(value1)

28800

int

In [11]:
calculationToUnits = 24
nameOfUnit = "hours"

def days_to_units(val):
    print(f"{val} days are {val * calculationToUnits} {nameOfUnit} ")

days_to_units(15)

15 days are 360 hours

In [30]:
elevation = 2211

def mountains(val1):
    mtn_var = "Hibriten"
    if val1 >2211:
        print("False")
    else:
        print("True")
    

mountains(1800)

True

In [31]:
userInput = int(input("How tall is Hibriten Mountain"))
mtnHeight = mountains(userInput)

False

In [7]:
elevation = 2211

userInput = input("What is the elevation")

def mountains():
    if userInput.isdigit():
        inputNumber = int(userInput)
        if inputNumber >2211:
            print("False")
        else:
            print("True")

mountains()

False

In [6]:
# def christmasTree():
#     val = "_"
#     for val in range(10):
#         print(val)

# christmasTree()

def triangleShape(n):
    for i in range(n):
        # for j in range(n-i):
        #     print(' ', end=' ')
        for k in range(2*i+1):
            print('*',end=' ')
        print()

triangleShape(5)

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [40]:
print("Welcome to" , end = ' ')

Welcome to

In [11]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

evenElement = [item for item in a if item%2==0]
print(evenElement)

[4, 16, 36, 64, 100]

In [15]:
hibritenElevation = 2211

user = input("To what elevation did you walk?")
totalElevation = hibritenElevation - int(user)
print(totalElevation)

print(str(totalElevation))

561
561

In [24]:
Caldwell = "Hibriten Mountain"
print(Caldwell.find("i"))
print(Caldwell.upper())

1
HIBRITEN MOUNTAIN

In [19]:
import math as mt

help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [23]:
mountain1 = int("100")
mountain1

100

In [28]:
print(type("Hibriten" in Caldwell))

<class 'bool'>

In [29]:
mountain2 = 10<5
print(type(mountain2))

<class 'bool'>

In [1]:
mountains = ["Hibriten", "Hen", "Timbered Ridge"]
mountains_copy = mountains[:]
print(mountains_copy)

['Hibriten', 'Hen', 'Timbered Ridge']

In [2]:
mountains_copy[::-1]

['Timbered Ridge', 'Hen', 'Hibriten']

In [11]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

print(x[1][1][0])
print(x[3][1])

ccc
ii

In [14]:
x[4] = mountains_copy
x

['a',
 ['bb', ['ccc', 'ddd'], 'ee', 'ff'],
 'g',
 ['hh', 'ii'],
 ['Hibriten', 'Hen', 'Timbered Ridge']]