In [ ]:
peak1 = "Hibriten Mtn   "
peak2 = "Timbered Ridge"
print(f"{peak1.rstrip()} & {peak2}")

In [ ]:
3**2

In [ ]:
import this

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
print(mtns[1])
print(mtns[2])

In [ ]:
pip install xlrd

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
message = f"The Mountains are {mtns[0]}, {mtns[1]} and {mtns[2]}."
#message

for record in mtns:
    print(record)

In [ ]:
for val in range(1,5):
    print(val)

In [ ]:
mtnRange = list(range(1,6))
mtnRange

In [ ]:
squares = list()

for record in range(1,4):
    num = record**2
    squares.append(num)

print(squares)

In [ ]:
squares = []
for rec in range(1,10):
    squares.append(rec**2)

print(squares)

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
test = iter(mtns)
test

In [ ]:
next(test)

In [ ]:
next(test)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

for mtn in mtns:
    print(mtn)

for mtn in mtns:
    print(mtns[mtn])

for mtn in mtns.values():
    print(mtn)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

#print(mtns.items())
for mtn, ele in mtns.items():
    print(mtn, ele)

In [ ]:
for mtn in mtns:
    print(mtns.keys())

In [ ]:
for mtn in mtns:
    print(mtns.values())

In [ ]:
mtns["Cedar Valley"] = 1100
print(mtns)

In [ ]:
del mtns["Cedar Valley"]
print(mtns)

In [ ]:
"Cedar Valley" in mtns

In [ ]:
len(mtns)

In [ ]:
mtns.get("Hibriten")

In [ ]:
mtns["Small Peak"] = 1940
print(mtns)

mtns.pop("Small Peak")
print(mtns)

In [ ]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }
mtns.update(mtnsEle)
print(mtns)

In [ ]:
import pandas as pd
print(pd)

In [ ]:
import requests as rq
print(rq)

In [ ]:
def f():
    s = '-- Inside f()'
    print(s)

print('Before calling f()')
f()
print('After calling f()')

In [ ]:
def f(fx):
    fx = 10
    print(id(fx))

x = 5
f(x)
print(id(x))
print(x)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

if "Timbered" in mtns:
    print(True)

In [ ]:
round(-0.88)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

a,b,c = mtns
print(f"{a} Mountain,\n{b},\nand {c} Mountain")

In [ ]:
def test(x):
    return x*2

test(5)

In [ ]:
def double(x):
    i = 0
    while i < len(x):
        x[i] *= 2
        i += 1

def double_list(x):
     r = []
     for i in x:
             r.append(i * 2)
     return r


b = [1, 2, 3, 4, 5]
b= double_list(b)
b

In [ ]:
type(double_list)

In [ ]:
type(2 +2.0)

In [ ]:
type(1.0)

In [ ]:
y = (3 + 4) * (5 + 7) + 0.001
type(y)

In [ ]:
#ele = (1850, 2000, 2500)

def testing(*args):
    return sum(args)

testing(1850, 2000)

In [ ]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }

for k,v in mtnsEle.items():
    print(k,v)

In [ ]:
def avg(*args):
     total = 0
     for i in args:
         total += i
         print(i)
     return total / len(args)

avg(10, 25, 30)

In [ ]:

tup = (10, 25, 30)
def average(*args):
    return sum(args)/len(args)
average(*tup)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

def f(**kwargs):
     print(kwargs)
     print(type(kwargs))
     for key, val in kwargs.items():
             print(key, '->', val)

f(Hibriten=2211, Hen=1800)
f

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

f(**mtns)
%whos

In [ ]:
def concat(prefix, *args):
     print(f'{prefix}{".".join(args)}')

concat("*/* ", "10", "20", "30")

In [ ]:
my_second_list = [1, 2.01, "123", [5, 6, 7]]
my_second_list[3][1]

In [ ]:
alist = [1,2,3,4,5,6,7,8,9,10]
alist[7:]

In [ ]:
adict = {'nickel': 5, 'dime': 10, 'quarter': 25}

adict['quarter'] - 2*adict['dime']

In [ ]:
adict = {'a': [1,2,3], 'b': [4,5,6]}
adict['d'] = [10,11,12]
adict['b'] = [0,0,0]
adict

In [ ]:
def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')

concat("10", "20", "30", prefix="//", sep="*")

In [ ]:
sets = {10,20,30}
str = "Hibriten Mountain"

def test():
    if 10 in sets:
        print(f"The value {10} is in sets")
#test()

splits = set(str)
splits

In [ ]:
allContent = gis.content.search(query="", max_items = 500)
allContent
#call .delete(dry_run=True) to ensure deletion can proceed
#call .delete() to let the torching commence

In [ ]:
astring = "aaa"
bstring = "bbb"
cstring = astring + bstring
cstring

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

mtns["Knoll Ridge"] = 1980
print(mtns)

In [ ]:
sets = {10,20,30}
sets.add(40)

print(sets)

In [ ]:
tup = (1, 2, 3)
tup

### Sets

In [53]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))
"Hibriten" in y

True

In [ ]:
print("Hibriten" in x)
print("Hen" not in x)
print(len(x))

In [ ]:
#z = x | y

x.union(y)

In [ ]:
inter = x & y
x.intersection(y)
print(inter)

In [ ]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))

print(x.difference(y))
print(y.difference(x))

In [ ]:
x.symmetric_difference(y)

In [ ]:
y.symmetric_difference(x)

In [ ]:
y.isdisjoint(x)

In [ ]:
y.update([2150, 1980])
y

In [ ]:
y.symmetric_difference(x)

In [ ]:
x.add()
x.clear()
x.remove()

In [44]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))
#yz = set((2000, 1950, 2050))
un = x.union(y)
un
#max(yz)

2050

In [35]:
x.symmetric_difference(y)

{1650, 1800, 2200, 'Little Knoll', 'Timbered Ridge'}

In [36]:
x.difference(y)

{'Little Knoll', 'Timbered Ridge'}

In [39]:
x & y

{'Hibriten'}

### Dictionaries

In [2]:
mountains = dict()
mountains["Hibriten"] = 2200
mountains["Hen"] = 1850
#print(mountains)
#mountains["Hen"]
mountains["Brushy Mtns"] = [2000, 2100, 2200]
mountains["Brushy Mtns"][0]
id(mountains)

2225484069184

In [3]:
len(mountains)

3

In [4]:
#mountains.clear()
mountains.get("Hibriten")

2200

In [24]:
mountains["Hen"] = 1920


print(mountains.items())
print(mountains.keys())
print(mountains.values())

dict_items([('Hibriten', 2200), ('Brushy Mtns', [2000, 2100, 2200]), ('Hen', 1920)])
dict_keys(['Hibriten', 'Brushy Mtns', 'Hen'])
dict_values([2200, [2000, 2100, 2200], 1920])

In [25]:
#help(mountains)
mountains.pop('Hen')

1920

In [26]:
mountains.items()

dict_items([('Hibriten', 2200), ('Brushy Mtns', [2000, 2100, 2200])])

In [27]:
add = {"Miller's Creek Ridge": 1500}
mountains.update(add)
mountains

{'Hibriten': 2200,
 'Brushy Mtns': [2000, 2100, 2200],
 "Miller's Creek Ridge": 1500}

In [29]:
# Merge 2 dictionaries together
final = {**mountains, **add}
final

{'Hibriten': 2200,
 'Brushy Mtns': [2000, 2100, 2200],
 "Miller's Creek Ridge": 1500}

### Lists & Tuples

In [30]:
elevations = [2340, 2200, 1950]
elevations

[2340, 2200, 1950]

In [40]:
elevations[-2]
elevations[::-1]

[1950, 2200, 2340]

In [42]:
max(elevations)

2340

In [49]:


def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')

#concat??

Signature: concat(*args, prefix='-> ', sep='.')
Docstring: <no docstring>
Source:
def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')
File:      c:\development_projects\cornell_ds\cornell_data_science\<ipython-input-49-4942a364fcc7>
Type:      function

In [55]:
adict = {
    "a":1,
    "b":2,
    "c":3
        }

"c" in adict

True

In [2]:
my_list = [1,2,3] 
my_list.insert(1,4)
my_list

[1, 4, 2, 3]

In [3]:
squares = {x: x * x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
streams = ["Steels", "Gingercake", "Upper"]
elevation = [3000, 2800, 2200]

mountains2 = {key:value for key, value in zip(streams, elevation)}
mountains2

{'Steels': 3000, 'Gingercake': 2800, 'Upper': 2200}

In [14]:
min(mountains2.values())
max(mountains2.values())

3000

In [16]:
tup = (2200, 1950, 1600)
tup[1]

1950

### Create a function that takes a list containing only numbers and return the first element.

In [1]:
def firstElement (list):
    return list[0]

firstElement([1, 2, 3, 4])

1