In [ ]:
peak1 = "Hibriten Mtn   "
peak2 = "Timbered Ridge"
print(f"{peak1.rstrip()} & {peak2}")

In [ ]:
3**2

In [ ]:
import this

In [1]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
print(mtns[1])
print(mtns[2])

Timbered Ridge
Hen

In [2]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
message = f"The Mountains are {mtns[0]}, {mtns[1]} and {mtns[2]}."
#message

for record in mtns:
    print(record)

Hibriten
Timbered Ridge
Hen

In [5]:
for val in range(1,5):
    print(val)

1
2
3
4

In [6]:
mtnRange = list(range(1,6))
mtnRange

[1, 2, 3, 4, 5]

In [8]:
squares = list()

for record in range(1,4):
    num = record**2
    squares.append(num)

print(squares)

[1, 4, 9]

In [9]:
squares = []
for rec in range(1,10):
    squares.append(rec**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
test = iter(mtns)
test

In [3]:
next(test)

'Hibriten'

In [4]:
next(test)

'Timbered Ridge'

In [9]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

for mtn in mtns:
    print(mtn)

for mtn in mtns:
    print(mtns[mtn])

for mtn in mtns.values():
    print(mtn)

Hibriten
Timbered Rdige
Hen
2211
1451
1800
2211
1451
1800

In [29]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

#print(mtns.items())
for mtn, ele in mtns.items():
    print(mtn, ele)

Hibriten 2211
Timbered Ridge 1451
Hen 1800

In [15]:
for mtn in mtns:
    print(mtns.keys())

dict_keys(['Hibriten', 'Timbered Rdige', 'Hen'])
dict_keys(['Hibriten', 'Timbered Rdige', 'Hen'])
dict_keys(['Hibriten', 'Timbered Rdige', 'Hen'])

In [19]:
for mtn in mtns:
    print(mtns.values())

dict_values([2211, 1451, 1800])
dict_values([2211, 1451, 1800])
dict_values([2211, 1451, 1800])

In [20]:
mtns["Cedar Valley"] = 1100
print(mtns)

{'Hibriten': 2211, 'Timbered Rdige': 1451, 'Hen': 1800, 'Cedar Valley': 1100}

In [21]:
del mtns["Cedar Valley"]
print(mtns)

{'Hibriten': 2211, 'Timbered Rdige': 1451, 'Hen': 1800}

In [22]:
"Cedar Valley" in mtns

False

In [23]:
len(mtns)

3

In [24]:
mtns.get("Hibriten")

2211

In [27]:
mtns["Small Peak"] = 1940
print(mtns)

mtns.pop("Small Peak")
print(mtns)

{'Hibriten': 2211, 'Timbered Rdige': 1451, 'Hen': 1800, 'Small Peak': 1940}
{'Hibriten': 2211, 'Timbered Rdige': 1451, 'Hen': 1800}

In [30]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }
mtns.update(mtnsEle)
print(mtns)

{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800, 'Adams': 2490, 'Brown': 2283}

In [33]:
import pandas as pd
print(pd)

<module 'pandas' from 'C:\\Development_Environments\\Conda\\envs\\GISAPI\\lib\\site-packages\\pandas\\__init__.py'>

In [35]:
import requests as rq
print(rq)

<module 'requests' from 'C:\\Development_Environments\\Conda\\envs\\GISAPI\\lib\\site-packages\\requests\\__init__.py'>