In [ ]:
peak1 = "Hibriten Mtn   "
peak2 = "Timbered Ridge"
print(f"{peak1.rstrip()} & {peak2}")

In [ ]:
3**2

In [ ]:
import this

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
print(mtns[1])
print(mtns[2])

In [ ]:
pip install xlrd

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
message = f"The Mountains are {mtns[0]}, {mtns[1]} and {mtns[2]}."
#message

for record in mtns:
    print(record)

In [ ]:
for val in range(1,5):
    print(val)

In [ ]:
mtnRange = list(range(1,6))
mtnRange

In [ ]:
squares = list()

for record in range(1,4):
    num = record**2
    squares.append(num)

print(squares)

In [ ]:
squares = []
for rec in range(1,10):
    squares.append(rec**2)

print(squares)

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
test = iter(mtns)
test

In [ ]:
next(test)

In [ ]:
next(test)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

for mtn in mtns:
    print(mtn)

for mtn in mtns:
    print(mtns[mtn])

for mtn in mtns.values():
    print(mtn)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

#print(mtns.items())
for mtn, ele in mtns.items():
    print(mtn, ele)

In [ ]:
for mtn in mtns:
    print(mtns.keys())

In [ ]:
for mtn in mtns:
    print(mtns.values())

In [ ]:
mtns["Cedar Valley"] = 1100
print(mtns)

In [ ]:
del mtns["Cedar Valley"]
print(mtns)

In [ ]:
"Cedar Valley" in mtns

In [ ]:
len(mtns)

In [ ]:
mtns.get("Hibriten")

In [ ]:
mtns["Small Peak"] = 1940
print(mtns)

mtns.pop("Small Peak")
print(mtns)

In [ ]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }
mtns.update(mtnsEle)
print(mtns)

In [ ]:
import pandas as pd
print(pd)

In [ ]:
import requests as rq
print(rq)

In [ ]:
def f():
    s = '-- Inside f()'
    print(s)

print('Before calling f()')
f()
print('After calling f()')

In [ ]:
def f(fx):
    fx = 10
    print(id(fx))

x = 5
f(x)
print(id(x))
print(x)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

if "Timbered" in mtns:
    print(True)

In [ ]:
round(-0.88)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

a,b,c = mtns
print(f"{a} Mountain,\n{b},\nand {c} Mountain")

In [ ]:
def test(x):
    return x*2

test(5)

In [ ]:
def double(x):
    i = 0
    while i < len(x):
        x[i] *= 2
        i += 1

def double_list(x):
     r = []
     for i in x:
             r.append(i * 2)
     return r


b = [1, 2, 3, 4, 5]
b= double_list(b)
b

In [ ]:
type(double_list)

In [ ]:
type(2 +2.0)

In [ ]:
type(1.0)

In [ ]:
y = (3 + 4) * (5 + 7) + 0.001
type(y)

In [ ]:
#ele = (1850, 2000, 2500)

def testing(*args):
    return sum(args)

testing(1850, 2000)

In [ ]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }

for k,v in mtnsEle.items():
    print(k,v)

In [ ]:
def avg(*args):
     total = 0
     for i in args:
         total += i
         print(i)
     return total / len(args)

avg(10, 25, 30)

In [ ]:

tup = (10, 25, 30)
def average(*args):
    return sum(args)/len(args)
average(*tup)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

def f(**kwargs):
     print(kwargs)
     print(type(kwargs))
     for key, val in kwargs.items():
             print(key, '->', val)

f(Hibriten=2211, Hen=1800)
f

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

f(**mtns)
%whos

In [ ]:
def concat(prefix, *args):
     print(f'{prefix}{".".join(args)}')

concat("*/* ", "10", "20", "30")

In [ ]:
my_second_list = [1, 2.01, "123", [5, 6, 7]]
my_second_list[3][1]

In [ ]:
alist = [1,2,3,4,5,6,7,8,9,10]
alist[7:]

In [ ]:
adict = {'nickel': 5, 'dime': 10, 'quarter': 25}

adict['quarter'] - 2*adict['dime']

In [ ]:
adict = {'a': [1,2,3], 'b': [4,5,6]}
adict['d'] = [10,11,12]
adict['b'] = [0,0,0]
adict

In [ ]:
def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')

concat("10", "20", "30", prefix="//", sep="*")

In [ ]:
sets = {10,20,30}
str = "Hibriten Mountain"

def test():
    if 10 in sets:
        print(f"The value {10} is in sets")
#test()

splits = set(str)
splits

In [ ]:
allContent = gis.content.search(query="", max_items = 500)
allContent
#call .delete(dry_run=True) to ensure deletion can proceed
#call .delete() to let the torching commence

In [ ]:
astring = "aaa"
bstring = "bbb"
cstring = astring + bstring
cstring

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

mtns["Knoll Ridge"] = 1980
print(mtns)

In [4]:
sets = {10,20,30}
sets.add(40)

print(sets)

{40, 10, 20, 30}

In [ ]:
tup = (1, 2, 3)
tup[1]