In [ ]:
peak1 = "Hibriten Mtn   "
peak2 = "Timbered Ridge"
print(f"{peak1.rstrip()} & {peak2}")

In [ ]:
3**2

In [ ]:
import this

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
print(mtns[1])
print(mtns[2])

In [ ]:
pip install xlrd

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
message = f"The Mountains are {mtns[0]}, {mtns[1]} and {mtns[2]}."
#message

for record in mtns:
    print(record)

In [ ]:
for val in range(1,5):
    print(val)

In [ ]:
mtnRange = list(range(1,6))
mtnRange

In [ ]:
squares = list()

for record in range(1,4):
    num = record**2
    squares.append(num)

print(squares)

In [ ]:
squares = []
for rec in range(1,10):
    squares.append(rec**2)

print(squares)

In [ ]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
test = iter(mtns)
test

In [ ]:
next(test)

In [ ]:
next(test)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

for mtn in mtns:
    print(mtn)

for mtn in mtns:
    print(mtns[mtn])

for mtn in mtns.values():
    print(mtn)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

#print(mtns.items())
for mtn, ele in mtns.items():
    print(mtn, ele)

In [ ]:
for mtn in mtns:
    print(mtns.keys())

In [ ]:
for mtn in mtns:
    print(mtns.values())

In [ ]:
mtns["Cedar Valley"] = 1100
print(mtns)

In [ ]:
del mtns["Cedar Valley"]
print(mtns)

In [ ]:
"Cedar Valley" in mtns

In [ ]:
len(mtns)

In [ ]:
mtns.get("Hibriten")

In [ ]:
mtns["Small Peak"] = 1940
print(mtns)

mtns.pop("Small Peak")
print(mtns)

In [ ]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }
mtns.update(mtnsEle)
print(mtns)

In [ ]:
import pandas as pd
print(pd)

In [ ]:
import requests as rq
print(rq)

In [ ]:
def f():
    s = '-- Inside f()'
    print(s)

print('Before calling f()')
f()
print('After calling f()')

In [ ]:
def f(fx):
    fx = 10
    print(id(fx))

x = 5
f(x)
print(id(x))
print(x)

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

if "Timbered" in mtns:
    print(True)

In [6]:
2**3

8