In [ ]:
peak1 = "Hibriten Mtn   "
peak2 = "Timbered Ridge"
print(f"{peak1.rstrip()} & {peak2}")

In [ ]:
3**2

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
print(mtns[1])
print(mtns[2])

Timbered Ridge
Hen

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in c:\development_environments\conda\envs\gisapi\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
message = f"The Mountains are {mtns[0]}, {mtns[1]} and {mtns[2]}."
#message

for record in mtns:
    print(record)

Hibriten
Timbered Ridge
Hen

In [5]:
for val in range(1,5):
    print(val)

1
2
3
4

In [6]:
mtnRange = list(range(1,6))
mtnRange

[1, 2, 3, 4, 5]

In [7]:
squares = list()

for record in range(1,4):
    num = record**2
    squares.append(num)

print(squares)

[1, 4, 9]

In [8]:
squares = []
for rec in range(1,10):
    squares.append(rec**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
mtns = ["Hibriten", "Timbered Ridge", "Hen"]
test = iter(mtns)
test

In [10]:
next(test)

'Hibriten'

In [11]:
next(test)

'Timbered Ridge'

In [12]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

for mtn in mtns:
    print(mtn)

for mtn in mtns:
    print(mtns[mtn])

for mtn in mtns.values():
    print(mtn)

Hibriten
Timbered Rdige
Hen
2211
1451
1800
2211
1451
1800

In [13]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

#print(mtns.items())
for mtn, ele in mtns.items():
    print(mtn, ele)

Hibriten 2211
Timbered Ridge 1451
Hen 1800

In [14]:
for mtn in mtns:
    print(mtns.keys())

dict_keys(['Hibriten', 'Timbered Ridge', 'Hen'])
dict_keys(['Hibriten', 'Timbered Ridge', 'Hen'])
dict_keys(['Hibriten', 'Timbered Ridge', 'Hen'])

In [15]:
for mtn in mtns:
    print(mtns.values())

dict_values([2211, 1451, 1800])
dict_values([2211, 1451, 1800])
dict_values([2211, 1451, 1800])

In [16]:
mtns["Cedar Valley"] = 1100
print(mtns)

{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800, 'Cedar Valley': 1100}

In [17]:
del mtns["Cedar Valley"]
print(mtns)

{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800}

In [18]:
"Cedar Valley" in mtns

False

In [19]:
len(mtns)

3

In [20]:
mtns.get("Hibriten")

2211

In [21]:
mtns["Small Peak"] = 1940
print(mtns)

mtns.pop("Small Peak")
print(mtns)

{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800, 'Small Peak': 1940}
{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800}

In [22]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }
mtns.update(mtnsEle)
print(mtns)

{'Hibriten': 2211, 'Timbered Ridge': 1451, 'Hen': 1800, 'Adams': 2490, 'Brown': 2283}

In [23]:
import pandas as pd
print(pd)

<module 'pandas' from 'C:\\Development_Environments\\Conda\\envs\\GISAPI\\lib\\site-packages\\pandas\\__init__.py'>

In [24]:
import requests as rq
print(rq)

<module 'requests' from 'C:\\Development_Environments\\Conda\\envs\\GISAPI\\lib\\site-packages\\requests\\__init__.py'>

In [25]:
def f():
    s = '-- Inside f()'
    print(s)

print('Before calling f()')
f()
print('After calling f()')

Before calling f()
-- Inside f()
After calling f()

In [26]:
def f(fx):
    fx = 10
    print(id(fx))

x = 5
f(x)
print(id(x))
print(x)

140708143380544
140708143380384
5

In [27]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

if "Timbered" in mtns:
    print(True)

In [28]:
round(-0.88)

-1

In [29]:
mtns = {
    "Hibriten": 2211,
    "Timbered Ridge": 1451,
    "Hen": 1800
}

a,b,c = mtns
print(f"{a} Mountain,\n{b},\nand {c} Mountain")

Hibriten Mountain,
Timbered Ridge,
and Hen Mountain

In [30]:
def test(x):
    return x*2

test(5)

10

In [31]:
def double(x):
    i = 0
    while i < len(x):
        x[i] *= 2
        i += 1

def double_list(x):
     r = []
     for i in x:
             r.append(i * 2)
     return r


b = [1, 2, 3, 4, 5]
b= double_list(b)
b

[2, 4, 6, 8, 10]

In [32]:
type(double_list)

function

In [33]:
type(2 +2.0)

float

In [34]:
type(1.0)

float

In [35]:
y = (3 + 4) * (5 + 7) + 0.001
type(y)

float

In [36]:
#ele = (1850, 2000, 2500)

def testing(*args):
    return sum(args)

testing(1850, 2000)

3850

In [37]:
mtnsEle = {
    "Adams": 2490, 
    "Brown": 2283
    }

for k,v in mtnsEle.items():
    print(k,v)

Adams 2490
Brown 2283

In [38]:
def avg(*args):
     total = 0
     for i in args:
         total += i
         print(i)
     return total / len(args)

avg(10, 25, 30)

10
25
30

21.666666666666668

In [39]:

tup = (10, 25, 30)
def average(*args):
    return sum(args)/len(args)
average(*tup)

21.666666666666668

In [40]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

def f(**kwargs):
     print(kwargs)
     print(type(kwargs))
     for key, val in kwargs.items():
             print(key, '->', val)

f(Hibriten=2211, Hen=1800)
f

{'Hibriten': 2211, 'Hen': 1800}
<class 'dict'>
Hibriten -> 2211
Hen -> 1800

In [41]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

f(**mtns)
%whos

{'Hibriten': 2211, 'Timbered Rdige': 1451, 'Hen': 1800}
<class 'dict'>
Hibriten -> 2211
Timbered Rdige -> 1451
Hen -> 1800
Variable      Type        Data/Info
-----------------------------------
a             str         Hibriten
average       function    <function average at 0x00000230A657A670>
avg           function    <function avg at 0x00000230A657A8B0>
b             list        n=5
c             str         Hen
double        function    <function double at 0x00000230A657A160>
double_list   function    <function double_list at 0x00000230A657A0D0>
ele           int         1800
f             function    <function f at 0x00000230A657A5E0>
k             str         Brown
message       str         The Mountains are Hibrite<...>, Timbered Ridge and Hen.
mtn           str         Hen
mtnRange      list        n=5
mtns          dict        n=3
mtnsEle       dict        n=2
num           int         9
os            module      <module 'os' from 'C:\\De<...>nvs\\GISAPI\\lib\\os.py'>
pd            module      <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
rec           int         9
record        int         3
rq            module      <module 'requests' from '<...>\\requests\\__init__.py'>
squares       list        n=9
sys           module      <module 'sys' (built-in)>
test          function    <function test at 0x00000230A657A1F0>
testing       function    <function testing at 0x00000230A657A4C0>
this          module      <module 'this' from 'C:\\<...>s\\GISAPI\\lib\\this.py'>
tup           tuple       n=3
v             int         2283
val           int         4
x             int         5
y             float       84.001

In [42]:
def concat(prefix, *args):
     print(f'{prefix}{".".join(args)}')

concat("*/* ", "10", "20", "30")

*/* 10.20.30

In [43]:
my_second_list = [1, 2.01, "123", [5, 6, 7]]
my_second_list[3][1]

6

In [44]:
alist = [1,2,3,4,5,6,7,8,9,10]
alist[7:]

[8, 9, 10]

In [45]:
adict = {'nickel': 5, 'dime': 10, 'quarter': 25}

adict['quarter'] - 2*adict['dime']

5

In [46]:
adict = {'a': [1,2,3], 'b': [4,5,6]}
adict['d'] = [10,11,12]
adict['b'] = [0,0,0]
adict

{'a': [1, 2, 3], 'b': [0, 0, 0], 'd': [10, 11, 12]}

In [47]:
def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')

concat("10", "20", "30", prefix="//", sep="*")

//10*20*30

In [48]:
sets = {10,20,30}
str = "Hibriten Mountain"

def test():
    if 10 in sets:
        print(f"The value {10} is in sets")
#test()

splits = set(str)
splits

{' ', 'H', 'M', 'a', 'b', 'e', 'i', 'n', 'o', 'r', 't', 'u'}

In [49]:
allContent = gis.content.search(query="", max_items = 500)
allContent
#call .delete(dry_run=True) to ensure deletion can proceed
#call .delete() to let the torching commence

NameError: name 'gis' is not defined

In [ ]:
astring = "aaa"
bstring = "bbb"
cstring = astring + bstring
cstring

In [ ]:
mtns = {
    "Hibriten": 2211,
    "Timbered Rdige": 1451,
    "Hen": 1800
}

mtns["Knoll Ridge"] = 1980
print(mtns)

In [ ]:
sets = {10,20,30}
sets.add(40)

print(sets)

In [ ]:
tup = (1, 2, 3)
tup

### Sets

In [ ]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))
"Hibriten" in y

True

In [ ]:
print("Hibriten" in x)
print("Hen" not in x)
print(len(x))

In [ ]:
#z = x | y

x.union(y)

In [ ]:
inter = x & y
x.intersection(y)
print(inter)

In [ ]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))

print(x.difference(y))
print(y.difference(x))

In [ ]:
x.symmetric_difference(y)

In [ ]:
y.symmetric_difference(x)

In [ ]:
y.isdisjoint(x)

In [ ]:
y.update([2150, 1980])
y

In [ ]:
y.symmetric_difference(x)

In [ ]:
x.add()
x.clear()
x.remove()

In [ ]:
x = set(["Hibriten", "Timbered Ridge", "Little Knoll"])
y = set((2200, 1800, 1650, "Hibriten"))
#yz = set((2000, 1950, 2050))
un = x.union(y)
un
#max(yz)

2050

In [ ]:
x.symmetric_difference(y)

{1650, 1800, 2200, 'Little Knoll', 'Timbered Ridge'}

In [ ]:
x.difference(y)

{'Little Knoll', 'Timbered Ridge'}

In [ ]:
x & y

{'Hibriten'}

### Dictionaries

In [ ]:
mountains = dict()
mountains["Hibriten"] = 2200
mountains["Hen"] = 1850
#print(mountains)
#mountains["Hen"]
mountains["Brushy Mtns"] = [2000, 2100, 2200]
mountains["Brushy Mtns"][0]
id(mountains)

2225484069184

In [ ]:
len(mountains)

3

In [ ]:
#mountains.clear()
mountains.get("Hibriten")

2200

In [ ]:
mountains["Hen"] = 1920


print(mountains.items())
print(mountains.keys())
print(mountains.values())

dict_items([('Hibriten', 2200), ('Brushy Mtns', [2000, 2100, 2200]), ('Hen', 1920)])
dict_keys(['Hibriten', 'Brushy Mtns', 'Hen'])
dict_values([2200, [2000, 2100, 2200], 1920])

In [ ]:
#help(mountains)
mountains.pop('Hen')

1920

In [ ]:
mountains.items()

dict_items([('Hibriten', 2200), ('Brushy Mtns', [2000, 2100, 2200])])

In [ ]:
add = {"Miller's Creek Ridge": 1500}
mountains.update(add)
mountains

{'Hibriten': 2200,
 'Brushy Mtns': [2000, 2100, 2200],
 "Miller's Creek Ridge": 1500}

In [ ]:
# Merge 2 dictionaries together
final = {**mountains, **add}
final

{'Hibriten': 2200,
 'Brushy Mtns': [2000, 2100, 2200],
 "Miller's Creek Ridge": 1500}

### Lists & Tuples

In [ ]:
elevations = [2340, 2200, 1950]
elevations

[2340, 2200, 1950]

In [ ]:
elevations[-2]
elevations[::-1]

[1950, 2200, 2340]

In [ ]:
max(elevations)

2340

In [ ]:


def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')

#concat??

Signature: concat(*args, prefix='-> ', sep='.')
Docstring: <no docstring>
Source:
def concat(*args, prefix='-> ', sep='.'):
     print(f'{prefix}{sep.join(args)}')
File:      c:\development_projects\cornell_ds\cornell_data_science\<ipython-input-49-4942a364fcc7>
Type:      function

In [ ]:
adict = {
    "a":1,
    "b":2,
    "c":3
        }

"c" in adict

True

In [ ]:
my_list = [1,2,3] 
my_list.insert(1,4)
my_list

[1, 4, 2, 3]

In [ ]:
squares = {x: x * x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
streams = ["Steels", "Gingercake", "Upper"]
elevation = [3000, 2800, 2200]

mountains2 = {key:value for key, value in zip(streams, elevation)}
mountains2

{'Steels': 3000, 'Gingercake': 2800, 'Upper': 2200}

In [ ]:
min(mountains2.values())
max(mountains2.values())

3000

In [ ]:
tup = (2200, 1950, 1600)
tup[1]

1950

### Create a function that takes a list containing only numbers and return the first element.

In [ ]:
def firstElement (list):
    return list[0]

firstElement([1, 2, 3, 4])

1

### Create a function that takes a base number and an exponent number and returns the calculation.

In [ ]:
def pow(bas, exp):
    return bas ** exp

pow(10,2)

100

### Create a function that takes two numbers and a mathematical operator + - / * and will perform a calculation with the given numbers.

In [ ]:
def calc(num1, operator, num2):
    if operator == "+":
        out = num1 + num2
    elif operator == "-":
        out = num1 - num2
    elif operator == "/":
        out = num1 / num2
    elif operator == "*":
        out = num1 * num2
    return out
calc(10, "/", 5)

2.0

### Christmas Eve is almost upon us, so naturally we need to prepare some milk and cookies for Santa! Create a function that accepts a Date object and returns True if it's Christmas Eve (December 24th) and False otherwise.

In [ ]:
import datetime

dT = datetime.datetime.now()
print(dT)

2021-08-30 16:41:31.944029

In [ ]:
def christmasEve(D):
    var = datetime.date(2021, 12, 25)
    if D == var:
        print("Its Christmas!")
    else:
        print("False")

christmasEve(datetime.date(2021, 12, 22))

False

In [ ]:
def produce_summary_table(df):
    cols_to_include = ['country', 'year', 'Life Ladder', 
                   'Positive affect','Negative affect',
                   'Log GDP per capita', 'Social support',
                   'Healthy life expectancy at birth', 
                   'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']
    column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
    column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']
    sentry = df[cols_to_include]
    test = sentry.describe().T
    dfOne = test.drop(["25%", "50%", "75%"], axis=1)
    dfOne = test.drop(["year"], axis=0)
    dfTwo = dfOne.rename(column_renaming, axis=1)
    dfsummary = dfTwo[column_order]
    return dfsummary#[cols_to_include]


def produce_summary_table(df):
    column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
    column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']
    dfsummary = df.describe().T.drop(['year'],axis=0).drop(['25%','50%','75%'], axis=1).rename(column_renaming, axis=1)
    dfsummary = dfsummary[column_order]
    dfsummary['N'] = dfsummary['N'].astype(int)
    return dfsummary