In [ ]:
import numpy as np

CURVE_CENTER = 80

grades = np.array([72, 35, 64, 88, 51, 90, 74, 12])

def curve(grades):
    average = grades.mean()
    change = CURVE_CENTER - average
    new_grades = grades + change
    return np.clip(new_grades, grades, 100)

curve(grades)

In [ ]:
import numpy as np
type(np)

In [ ]:
%whos

### Pandas

In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": ["Hibriten",
         "Hen",
         "Timbered Ridge"
         ],
         "Elevation":[2250, 2000, 1500]
    }
)

df["Name"]

In [ ]:
df.describe()

In [ ]:
layer = pd.read_csv(r"C:\Users\\Desktop\Data.csv")
layer.head(9)
#layer[:5]

In [ ]:
layer.to_excel(r"C:\Users\\Desktop\NHO.xlsx", sheet_name = "test")

In [ ]:
pip install openpyxl

In [ ]:
layer.info()

In [ ]:
cat = layer["NAME_CATGY"]
cat

In [ ]:
type(cat)

In [ ]:
cat.shape

In [ ]:
status = layer[["EO_STATUS", "NAME_CATGY"]]
status

In [ ]:
filtered = layer[layer["NAME_CATGY"] == "Natural Community"]
filtered

In [ ]:
confidenceLevel = layer[layer["ACCURACY"].isin(["2-High", "4-Low"])]
confidenceLevel

In [ ]:
selectionOne = layer[layer["EO_RANK"]== "E"]
selectionOne

In [ ]:
selectionTwo = layer[layer["NAME_CATGY"].notna()]
selectionTwo

In [ ]:
sampleLoc = layer.loc[layer["NAME_CATGY"]== "Natural Community", "EO_RANK"]
sampleLoc

In [ ]:
sampleIloc = layer.iloc[2:4, 2:6]
sampleIloc

In [48]:
layer = pd.read_csv(r"C:\Users\yuri7100\Desktop\Data.csv")
layer.head(9)
#layer[:5]

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area
0,5063,6979.0,1999-07,Current,E,4-Low,Animal,2015-10-12,12546.189221,1.248577e+07
1,12089,16558.0,1936-08-14,Historical,H,3-Medium,Plant,2015-10-12,2509.239143,4.994314e+05
2,17770,24840.0,2007-05-15,Current,BC,3-Medium,Animal,2015-10-12,573.611122,2.609918e+04
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,4.636786e+04
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,5.265418e+05
5,18168,25340.0,2010,Current,D,3-Medium,Natural Community,2015-10-12,2756.711689,9.078148e+04
6,18509,25774.0,2007-05-15,Current,C,2-High,Plant,2015-10-12,155.042756,5.501592e+02
7,25000,33272.0,1987-07-29,Historical,H?,3-Medium,Animal,2015-10-12,4664.866686,2.125255e+04
8,26603,35018.0,1935-06-30,Historical,H,3-Medium,Plant,2015-10-12,1254.622306,1.248584e+05

In [ ]:
selectAccuracy = layer[layer["ACCURACY"] == "3-Medium"]
selectAccuracy

In [ ]:
selectObsRank = layer[(layer["LAST_OBS"] == "2007-05-15") & (layer["NAME_CATGY"]  == "Animal")]
selectObsRank

In [ ]:
selectLoc = layer.loc[layer["EO_STATUS"] == "Historical", "DATA_DATE"]
selectLoc

In [ ]:
selectIloc = layer.iloc[:5, :3]
selectIloc

In [49]:
layer["Elevation"] = layer["Shape_Length"] / 10

In [52]:
layer.head()

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area,Elevation
0,5063,6979.0,1999-07,Current,E,4-Low,Animal,2015-10-12,12546.189221,1.248577e+07,1254.618922
1,12089,16558.0,1936-08-14,Historical,H,3-Medium,Plant,2015-10-12,2509.239143,4.994314e+05,250.923914
2,17770,24840.0,2007-05-15,Current,BC,3-Medium,Animal,2015-10-12,573.611122,2.609918e+04,57.361112
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,4.636786e+04,217.266910
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,5.265418e+05,819.844684

In [55]:
layer["Dates"] = (layer["LAST_OBS"] + layer["DATA_DATE"])
layer.head()

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area,Elevation,Dates
0,5063,6979.0,1999-07,Current,E,4-Low,Animal,2015-10-12,12546.189221,1.248577e+07,1254.618922,1999-072015-10-12
1,12089,16558.0,1936-08-14,Historical,H,3-Medium,Plant,2015-10-12,2509.239143,4.994314e+05,250.923914,1936-08-142015-10-12
2,17770,24840.0,2007-05-15,Current,BC,3-Medium,Animal,2015-10-12,573.611122,2.609918e+04,57.361112,2007-05-152015-10-12
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,4.636786e+04,217.266910,2007-05-152015-10-12
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,5.265418e+05,819.844684,20102015-10-12

In [57]:
layer["EO_ID"].mean()

24273.11111111111