In [ ]:
import numpy as np

CURVE_CENTER = 80

grades = np.array([72, 35, 64, 88, 51, 90, 74, 12])

def curve(grades):
    average = grades.mean()
    change = CURVE_CENTER - average
    new_grades = grades + change
    return np.clip(new_grades, grades, 100)

curve(grades)

In [ ]:
import numpy as np
type(np)

In [ ]:
%whos

### Pandas

In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": ["Hibriten",
         "Hen",
         "Timbered Ridge"
         ],
         "Elevation":[2250, 2000, 1500]
    }
)

df["Name"]

In [ ]:
df.describe()

In [41]:
layer = pd.read_csv(r"C:\Users\yuri7100\Desktop\Data.csv")
layer.head
layer[:5]

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area
0,5063,6979.0,1999-07,Current,E,4-Low,Animal,2015-10-12,12546.189221,1.248577e+07
1,12089,16558.0,1936-08-14,Historical,H,3-Medium,Plant,2015-10-12,2509.239143,4.994314e+05
2,17770,24840.0,2007-05-15,Current,BC,3-Medium,Animal,2015-10-12,573.611122,2.609918e+04
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,4.636786e+04
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,5.265418e+05

In [ ]:
layer.to_excel(r"")

In [ ]:
pip install openpyxl

In [ ]:
layer.info()

In [ ]:
cat = layer["NAME_CATGY"]
cat

In [ ]:
type(cat)

In [ ]:
cat.shape

In [ ]:
status = layer[["EO_STATUS", "NAME_CATGY"]]
status

In [47]:
filtered = layer[layer["NAME_CATGY"] == "Natural Community"]
filtered

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,46367.862200
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,526541.782399
5,18168,25340.0,2010,Current,D,3-Medium,Natural Community,2015-10-12,2756.711689,90781.483549

In [46]:
confidenceLevel = layer[layer["ACCURACY"].isin(["2-High"])]
confidenceLevel

,OID_,EO_ID,LAST_OBS,EO_STATUS,EO_RANK,ACCURACY,NAME_CATGY,DATA_DATE,Shape_Length,Shape_Area
3,18166,25338.0,2007-05-15,Current,B?,2-High,Natural Community,2015-10-12,2172.669099,46367.862200
4,18167,25339.0,2010,Current,C,2-High,Natural Community,2015-10-12,8198.446845,526541.782399
6,18509,25774.0,2007-05-15,Current,C,2-High,Plant,2015-10-12,155.042756,550.159200